<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <!-- adding google font styles -->
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
     href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
     rel="stylesheet"
   />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/results.css" />
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= quizName %></h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Score: <%= score%></li>
      <li class="list-group-item">Total Questions: <%= totalQuestions%></5></li>
      <li class="list-group-item">This quiz was taken <%= timeago.format(quizAge) %></li>
    </ul>
    <div class="card-body">
      <a href="/quizzes/<%=quizId%>" class="card-link">Take Quiz</a>
      <a href="/" class="card-link">Check all Quizzes</a>
    </div>
  </div>
</body>

</html>
