<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/results.css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>

  <%- include('partials/_header') %>
  <main>
    <h3>My Results</h3>
        <% for (const result of results) { %>
          <div class="card text-center">
            <div class="card-header">
              Share Link
            </div>
            <div class="card-body">
              <h5 class="card-title">Your Score: <%= result.value %></h5>
              <p class="card-text"></p>
              <a href="/quizzes/<%=result.quiz_id%>" class="btn btn-primary">Play</a>
              <a href="/results/<%=result.id%>" class="btn btn-primary">Share Link</a>
              <form action="/results/<%=result.id%>/delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button></form>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        <% } %>
      </tbody>
    </table>
  </main>

  </div>


</body>
</html>
